body{
  text-align: center;
  background-color: #011F3F;
}

p{
  font-size: 1.5rem;
  color: white;
}

#level-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.btn{
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 2%;
  border: solid 10px;
  border-radius: 40px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
